.container {
  max-width: 1220px;
  margin: 0 auto;
}

.hero {
  min-height: 15vh;
  display: grid;
  grid-template-columns: 8fr 4fr;
  align-content: center;
  margin-bottom: 20px;
  align-items: center;
}

.hero h1 {
  margin-bottom: 10px;
}

.hero p {
  max-width: 45%;
}

.hero-featured { 
  margin-block: 40px;
}

.toolbar {
  margin-block: 20px;
  display: grid;
  grid-template-columns: 6fr 6fr;
  row-gap: 8px;
}

.filter {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 8px;
}

.sort {
  margin-left: auto;
}

.keyword-exclusion {
  display: grid;
  grid-template-columns: 2fr 10fr;
  column-gap: 14px;
  grid-column: 1 / span 2;
}

.keyword-exclusion>.keywords {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  column-gap: 4px;
  row-gap: 8px;
}

.nfts {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  column-gap: 16px;
  row-gap: 32px;
  margin-top: 40px;
}

.nfts a,
a {
  text-decoration: none;
}

.load {
  margin-block: 40px;
}

.footer {
  margin-block: 40px;
}

.footer a {
  font-weight: 700;
  text-decoration: none;
  color: #000;
}

.sticky-wrapper {
  position: relative;
}

.sticky .toolbar {
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  max-width: 1220px;
  margin: 0 auto;
  padding-block: 20px;
}

button {
  background: transparent;
  border: 1px solid rgba(0, 0, 0, 0.65);
  border-radius: 4px;
  color: rgba(0, 0, 0, 0.65);
  padding: 5px 15px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
}

button.active,
button:hover,
button:active,
button:focus,
.select:hover,
.select:active,
.select:focus {
  background: rgba(0, 0, 0, .1);
  border-color: #000;
  color: #000;
  cursor: pointer;
}

button.keyword {
  background: rgba(255, 0, 0, .65);
  color: #fff;
}

button.keyword:hover,
button.keyword:active,
button.keyword:focus {
  background: rgba(255, 0, 0, 1);
  color: #fff;
}

button.secondary {
  background: #000;
  color: #fff;
}

select {
  appearance: none;
  background-color: transparent;
  border: none;
  padding: 0 2em 0 0;
  outline: none;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.65);
  text-transform: uppercase;
}

select::-ms-expand {
  display: none;
}

.select {
  width: 100%;
  min-width: 15ch;
  max-width: 30ch;
  border: 1px solid #000;
  border-radius: 0.25em;
  padding: 5px 15px;
  font-size: 14px;
  cursor: pointer;
  line-height: 1.1;
  background-color: #fff;
  background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
}

input {
  background: transparent;
  outline: none;
  box-shadow: none;
  text-transform: uppercase;
  border: 1px solid rgba(0, 0, 0, 0.65);
  color: 1px solid rgba(0, 0, 0, 0.65);
  padding: 5px 15px;
  border-radius: 4px;
  font-weight: 700;
}

@media only screen and (max-width: 768px) {
  .container {
    margin: 10px;
    margin-top: 20px;
  }

  .container p {
    max-width: 100%;
  }

  .hero {
    grid-template-columns: 1fr;
  }

  .hero-featured {
    margin-block: 20px;
  }

  .toolbar {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto auto;
    padding: 10px;
  }

  .filter {
    grid-template-columns: 1fr 1fr;
    grid-column: 1 / span 2;
    row-gap: 8px;
  }

  .sort {
    margin-left: 0;
  }

  .keyword-exclusion {
    grid-template-columns: 1fr;
    grid-column: 1 / span 2;
    row-gap: 8px;
  }

  .keyword-exclusion>.keywords {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  
  .nfts {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}